# Ignore everything not a java file, Makefile, .gitignore. Ignore some java files. Oh I guess we keep text files.
/bin
/src/client/*.java
.project
.classpath
.settings/
*.gif
*.png
*.jpg
*.class

!src/client/Main.java
